<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
      <!-- <div class="d-flex justify-content-center">

      </div> -->
    <div class="d-flex justify-content-center">
              <h1>Weather Forcast</h1>
      <div class="input">
        <form action="/" method="post">
          <label class="inputText" for="cityInput">City Name: </label>
          <input class="box" id="cityInput" type="text" name="cityName">
          <button type="submit">Go</button>
        </form>
        <ul class="result bg-transparent" id="myList" class="list-group">
          <% if (listItems.length == 4) { %>
          <li class="list-group-item bg-transparent result-text">The temperature in <%= listItems[0] + " is " + listItems[1]%>% fahrenheit.</li>
          <li class="list-group-item bg-transparent result-text">The weather is currently <%= listItems[2] %>.</li>
          <img src=<%= listItems[3] %> alt="">
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
